﻿@model IEnumerable<CoreMvcDemo.Models.UserDto>

@{
    ViewData["Title"] = "UserDetails";
}

<h1>UserDetails</h1>

<p>
    <a asp-action="CreateUser"> Create New User</a>
    <div></div>
     @Html.ActionLink("Click here to view data", "DisplayData", "Home", new { @class = "btn btn-primary" })
</p>

